{% extends 'family_template.html' %}

{% block content %}
{{ super() }}

<main>
    <div class="flex flex-nonwrap">
        <div class="m-2 mt-4"><img src="{{ url_for('static', filename='ainunnajib.jpg') }}"></div>
        <article class="font-comfortaa place-self-center">
            <h1 class="text-7xl">Ainun Najib</h1>
            <p class="mt-2">
                Hello! I am Ainun Najib.<br>
                I am a parent of 4: <a href="/"><b class="font-bold underline decoration-2 decoration-amber-500">Dzuizz</b></a>, <a href="/family/dzinnun"><b class="font-bold underline decoration-2 decoration-amber-500">Dzinnun</b></a>, <a href="/family/aisyah"><b class="font-bold underline decoration-2 decoration-amber-500">Aisyah</b></a> and <a href="/family/zarruq"><b class="font-bold underline decoration-2 decoration-amber-500">Zarruq</b></a>.<br>
                I work at <b class="font-bold text-lime-500">GRAB</b> ( <u class="underline underline-offset-1 decoration-green-400">Not the Taxi Driver</u> ).<br>
            </p>
        </article>
    </div>
</main>
{% endblock %}