{% extends 'layout.html' %}

{% block binary-search %}
<div id="binary-search">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block depth-first-search %}
<div id="depth-first-search">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block breadth-first-search %}
<div id="breadth-first-search">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block disjoint-set-union %}
<div id="disjoint-set-union">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block dynamic-programming %}
<div id="dynamic-programming">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block minimum-spanning-tree %}
<div id="minimum-spanning-tree">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block insertion-sort %}
<div id="insertion-sort">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block bubble-sort %}
<div id="bubble-sort">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block dijkstra %}
<div id="dijkstra">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block segment-tree %}
<div id="segment-tree">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block bellman-ford-algorithm %}
<div id="bellman-ford-algorithm">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}

{% block floyd-warshall-algorithm %}
<div id="floyd-warshall-algorithm">
    <h1 class="text-5xl font-medium uppercase">Algorithm</h1>
    <article>
        <p class="text-base m-2">

        </p>
        <code class="font-roboto">
            Algorithm Code
        </code>
    </article>
</div>
{% endblock %}
