{% extends "layout.html" %}

{% block content %}
{{ super() }}

<div class = "m-2">
    <button class="border-2 border-green-500 mx-2 rounded hover:bg-green-500 focus:outline-none focus:ring duration-75" type="button" name="My Father"><a href="/family/ainunnajib" class="mx-1">The Father (Ainun Najib)</a></button>
    <button class="border-2 border-indigo-500   mx-2 rounded hover:bg-indigo-500   focus:outline-none focus:ring duration-75" type="button" name="My 1st Brother"><a href="/" class="mx-1">The Eldest Brother (Dzuizz)</a></button>
    <button class="border-2 border-amber-500 mx-2 rounded hover:bg-amber-500 focus:outline-none focus:ring duration-75" type="button" name="My 1st Brother"><a href="/family/dzinnun" class="mx-1">The Second Brother (Dzinnun)</a></button>
    <button class="border-2 border-red-400   mx-2 rounded hover:bg-red-400   focus:outline-none focus:ring duration-75" type="button" name="My only Sister"><a href="/family/aisyah" class="mx-1">The only Sister (Aisyah)</a></button>
    <button class="border-2 border-blue-400   mx-2 rounded hover:bg-blue-400   focus:outline-none focus:ring duration-75" type="button" name="My baby Brother"><a href="/family/zarruq" class="mx-1">The Latest Baby (Zarruq)</a></button>
</div>
{% endblock %}