{% extends "family_template.html" %}

{% block content %}
{{ super() }}

<main class="fullscreen h-screen">
    <div class="flex flex-nonwrap">
        <div class="m-2 mt-4"><img src="static/familyImage.jpg"></div>
        <article class="font-comfortaa place-self-center">
            <h1 class="text-7xl">My Family</h1>
            <p class="mt-2">
                The family with all types of personalities and behaviours.<br>
                Currently consisting of 6 members of which are 3 brothers, a sister, a mother and a father.<br>
            </p>
        </article>
    </div>
</main>
{% endblock %}