{% extends "layout.html" %}

{% block content %}
{{ super() }}
<main class="fullscreen float-left mt-3 m-2 text-base">
    <!-- Biography -->
    <div class = "float-left mr-4 max_sm:w-6/12"><img src="/static/dzuizz.jpg" alt="My Picture" width="320" class=""/></div>
    <p class="flex-wrap break-words text-stone-900 text-base">
        My name is Ahmad Dzuizz Annajib.<br>
        I was born in Indonesia and have 2 brothers and a sister.<br>
        I currently study at <a class = "underline text-indigo-500 decoration-indigo-500" href = "https://irsyad.sg/">Madrasah Irsyad Zuhri Al-Islamiah</a>.<br>
        My primary strength at school is <b class="text-red-500">Math</b> and my secondary strength is <b class="text-sky-700">Science</b>.<br>
        Being a technology enthusiast, I pursued the programming interest in 2014 <i>with LEGO Education WeDo 2.0</i>.<br>
        I have been learning <b class="text-amber-500">C++</b>, <b class="text-sky-600">Pyt</b><b class="text-yellow-300">hon</b>, <b>HTML</b>, and others, since then.<br>
    </p>
    <br>

    <!--Github-->
    <article class="flex-wrap break-words text-stone-900 text-base mb-2">
        <b class="text-3xl text-red-800">My Coding Profiles</b><br>
        <b class="">Github</b>     → <a class="underline underline-offset-1 decoration-sky-500" href="https://github.com/dzuizz">github.com/dzuizz</a><br>
        <img class="m-2 w-2/4 rounded" src="https://ghchart.rshah.org/dzuizz" alt="My Github Chart"/>
        <b class="">Codeforces</b> → <a class="underline underline-offset-1 decoration-sky-500" href="https://codeforces.com/profile/dzuizz">codeforces.com/profile/dzuizz</a><br>
        <b class="">Kattis</b>     → <a class="underline underline-offset-1 decoration-sky-500" href="https://open.kattis.com/users/dzuizz">open.kattis.com/users/dzuizz</a><br>
        <b class="">mrJudge</b>    → <a class="underline underline-offset-1 decoration-sky-500" href="https://dunjudge.me/users/dzuizz">dunjudge.me/users/dzuizz</a><br>
    </article>
    <!-- <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />
    <div class="calendar">
        Loading the data just for you.
    </div>
    <script>new GitHubCalendar(".calendar", "dzuizz");</script> -->
    <br>

    <!-- Achievements -->
    <b class="my-2 text-3xl text-red-800">My Achievements</b>
    {% for achievement in achievements %}
        <div class="break-words text-base">
            <h3 class="font-bold text-base text-rose-600">{{ achievement.year }} - {{achievement.grade}}</h3>
            <ul class="list-disc mx-10">
                {% for fulfilment in achievement.fulfilments %}
                    <li class="m-2 z-0">
                        <p class="text-stone-900 text-base">
                            <b>{{ fulfilment.title }}</b>
                            ({{ contests[fulfilment.title] }}) - 
                            {% if fulfilment.award == 'Platinum' or fulfilment.award == 'Perfect Score' or fulfilment.award == 'HIGH DISTINCTION' %}
                                <b class = "text-violet-800">{{ fulfilment.award }}</b>
                            {% elif fulfilment.award == 'GOLD' or fulfilment.award == 'DISTINCTION' %}
                                <b class = "text-amber-400">{{ fulfilment.award }}</b>
                            {% elif fulfilment.award == 'SILVER' or fulfilment.award == 'MERIT' %}
                                <b class = "text-neutral-400">{{ fulfilment.award }}</b>
                            {% elif fulfilment.award == 'BRONZE' %}
                                <b class = "text-red-900">{{ fulfilment.award }}</b>
                            {% else %}
                                <b>{{ fulfilment.award }}</b>
                            {% endif %}

                            {% if fulfilment.ranking != '' %}
                                <i>{{ fulfilment.ranking }}</i>
                            {% endif %}
                            
                            {% if fulfilment.filename != '' %}
                                <a class="underline text-cyan-500 decoration-sky-500 decoration-dashed" href="static/certs/{{ fulfilment.filename }}" target="_blank">view cert.</a>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor%}
</main>
{% endblock %}
